<table width="100%" border="1px">
<% @results.each do|item|  %>

    <tr>
      <td><%= item['SecurityTag']  %> </td>
      <td > <%= item['SecurityTagDescription']%> </td>

    </tr>

<%  end      %>
</table>